

section {
    .contenedor {
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: rgb(236, 255, 255);
    width: 100%;
    height: 90vh;

    &__contador {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(219, 219, 219);
        width: 40vw;
        height: 60vh;
        border-radius: 5%;
        padding: 20px 20px 20px 20px ;

        ul {
            align-items: flex-start;
            li {
                list-style: none;
                font-size: 40px;
        }
        }
        
    }
}
}
