

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

@font-face {
    font-family: BebasNeue-Regular;
    src: url(./fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: IBMPlexMono-Regular;
    src: url(./fonts/IBMPlexMono-Regular.ttf);
}
@font-face {
    font-family: IBMPlexMono-SemiBold;
    src: url(./fonts/IBMPlexMono-SemiBold.ttf);
}

