

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}

@font-face {
    font-family: BebasNeue-Regular;
    src: url(./fonts/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: IBMPlexMono-Regular;
    src: url(./fonts/IBMPlexMono-Regular.ttf);
}
@font-face {
    font-family: IBMPlexMono-SemiBold;
    src: url(./fonts/IBMPlexMono-SemiBold.ttf);
}


nav {
    height: 10vh;
    width: 100%;
    background-color: aqua;
}

.tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: 90vh;
    background-color: rgb(234, 234, 255);
}

.tarj1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 70vh;
    width: 15vw;
    background-color: rgb(110, 110, 110);
    background-image: url(./assets/unsplash_1NMHvsRJBCg.jpg);
    background-repeat: no-repeat;
    background-position: 40%;

}
.texto_tarj {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50px);
}
.tarjetas .tarj1 .texto_tarj h4 {
    font-family: IBMPlexMono-SemiBold;
    font-size: 20px;
    color: azure;
}
.tarjetas .tarj1 .texto_tarj p{
    font-family: IBMPlexMono-Regular;
    color: azure;
}
.tarj1 .btn_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 6vh;
    background-color: #BDFF00;
    transform: translateY(-15px)
}
.tarj1 .btn_1 h4{
    font-size: 16px;
    font-family: IBMPlexMono-Regular;
}


.tarj2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 70vh;
    width: 15vw;
    background-color: rgb(246, 138, 138);
    background-image: url(./assets/unsplash_2gR6FlQMyAo.jpg);
    background-position: 40%;
    background-repeat: no-repeat;
}
.texto_tarj2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50px);
}
.tarjetas .tarj2 .texto_tarj2 h4 {
    font-family: IBMPlexMono-SemiBold;
    font-size: 20px;
    color: azure;
}
.tarjetas .tarj2 .texto_tarj2 p {
    font-family: IBMPlexMono-Regular;
    color: azure;
}
.tarj2 .btn_2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 6vh;
    background-color:#BDFF00;
    transform: translateY(-15px)
}
.tarj2 .btn_2 h4{
    font-size: 16px;
    font-family: IBMPlexMono-Regular;
}
    

.tarj3{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 70vh;
    width: 15vw;
    background-color: rgb(150, 230, 169);
    background-image: url(./assets/unsplash_r01ZopTiEV8.jpg);
    background-repeat: no-repeat;
    background-position: 40%;
}
.texto_tarj3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50px);
}
.tarjetas .tarj3 .texto_tarj3 h4 {
    font-family: IBMPlexMono-SemiBold;
    font-size: 20px;
    color: azure;
}
.tarjetas .tarj3 .texto_tarj3 p {
    font-family: IBMPlexMono-Regular;
    color: azure;
}
.tarj3 .btn_3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 6vh;
    background-color: #BDFF00;
    transform: translateY(-15px)
}
.tarj3 .btn_3 h4{
    font-size: 16px;
    font-family: IBMPlexMono-Regular;
}


.tarj4{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 70vh;
    width: 15vw;
    background-color: rgb(243, 208, 120);
    background-image: url(./assets/unsplash_S98UWailaOA.jpg);
    background-repeat: no-repeat;
    background-position: 40%;
    background-size: 400%;
}
.texto_tarj4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50px);
}
.tarjetas .tarj4 .texto_tarj4 h4 {
    font-family: IBMPlexMono-SemiBold;
    font-size: 20px;
    color: azure;
}
.tarjetas .tarj4 .texto_tarj4 p {
    font-family: IBMPlexMono-Regular;
    color: azure;
}
.tarj4 .btn_4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 6vh;
    background-color: #BDFF00;
    transform: translateY(-15px)
}
.tarj4 .btn_4 h4{
    font-size: 16px;
    font-family: IBMPlexMono-Regular;
}


.tarj5{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 70vh;
    width: 15vw;
    background-color: rgb(243, 208, 120);
    background-image: url(./assets/pizza_1.jpg);
    background-repeat: no-repeat;
    background-position: 40%;
    background-size: 200%;
}
.texto_tarj5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-50px);
}
.tarjetas .tarj5 .texto_tarj5 h4 {
    font-family: IBMPlexMono-SemiBold;
    font-size: 20px;
    color: azure;
}
.tarjetas .tarj5 .texto_tarj5 p {
    font-family: IBMPlexMono-Regular;
    color: azure;
}
.tarj5 .btn_5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 6vh;
    background-color: #BDFF00;
    transform: translateY(-15px)
}
.tarj5 .btn_5 h4{
    font-size: 16px;
    font-family: IBMPlexMono-Regular;
}